# 트랜잭션 데이터 예시 (JSON)

## 예시 데이터와 간략한 안내 사항 
```
{
  "summuryProfile":  // 트랜잭션의 일반적인 정보
    {
      "sender": "0xf63d29b67aabbafa772c51e29dc7a89d391cfa7e", // 트랜잭션을 생성한 주소 
      "status": true, // 트랜잭션 성공 여부 Boolean 값 (true = 성공, false = 실패)
      "revertMessage": "" // 트랜잭션이 revert 되었을 때, 그 사유 메시지 기록; 만일 이 항목이 비워져 있다면, 트랜잭션은 성공한 것 임.
    },
  "fundFlow":  // 자금의 순차 이동 정보
  [
    {
      "amount": "0.019", // 이동한 자금 규모 
      "from": "0xf63d29b67aabbafa772c51e29dc7a89d391cfa7e", // 자금이 출금된 주소 
      "fromLabel" : // 자금의 출금된 주소 from 주소를 사람이 쉽게 볼 수 있도록 표시하는 이름
      "id": 1, // 자금 이동(Fund Flow)이 고유 ID 
      "isERC1155": false, // 이동한 자금이 ERC-1155 token 여부
      "isERC721": false, // 이동한 자금이 ERC-721 NFT 여부
      "isReverted": false, // 이번 자금 흐름(Fund Flow) Revert 여부 
      "order": 1, // 자금 이동 순서 1 부터 시작해서 그 순서대로 하나씩 증가
      "to": "0x2a3dd3eb832af982ec71669e178424b10dca2ede", // 자금을 전송 받은 주소  
      "toLabel" : // 자금의 입금된 주소 to 주소를 사람이 쉽게 볼 수 있도록 표시하는 이름
      "token": "Ether" // 이동한 암호화폐 이름 
    },
  ]
}
```
